.screen {
    margin-top: 37.5px;
    padding: 0px;
    width: 100%;
    height: 130vh;
    background-color: #f1f2f7;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .top_header {
    background-color: #3A3A3C;
    color: white;
    padding: 15px;
    display: flex;
    font-size: 2em;
    text-align: start;
    margin-bottom: 20px;
  }
  
  .inf_box {
    display: block;
    margin: 15px;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    padding: 20px;
    margin-top: 20px; /* inf_box와 top_header 사이의 거리 */
    border-radius: 15px;
  }
  
  .code_inf, .acc_inf {
    display: block;
    margin-bottom: 10px;
  }
  .code_inf, .acc_inf > div{
    margin-top: 10px;
  }
  .bold {
    font-weight: bold;
  }
  .code_inf {
    font-size: 25px;
    margin-bottom: 40px;
  }
  .acc_inf {
    font-size: 20px;
    padding-top: 25px;
  }
  .acc_inf .bold {
    padding-right: 15px;
  }

  .check_box {
    padding-top: 25px;
    display: flex;
    justify-content: end;
  }

  #popup {
    display: none;
    position: fixed;
    border-radius: 30px;
    top:180px;
    right: 38px;
    width: 80%;
    height: 40%;
    background-color: white;
    box-shadow: 10px 10px 100px grey;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;

}

  #popup > .bold {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    padding-top: 15px;
    font-size: 28px;
    font-weight: bold;

}
  .ori_video, .mask_video {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  .popup_center> div {
    display: flex;
    flex-direction: row;
  }
  .popup_center> div> span {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    margin: 10px 15px;
    align-items: center;
    flex-direction: row;
  }
  .popup_center> div> span:first-child {
    color:rgba(0, 0, 0, 0.4);
  }
  .popup_inf {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
  }
  .popup_submit {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .popup_btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .submit_btn_cancle,.submit_btn_submit {
    border: white;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.4); /* 그림자 효과 */
    border-radius: 10px;
    background-color: white;
    font-size: 20px;  
    padding: 10px 35px;
    margin: 10px 15px;
  }
  .submit_btn {
    font-size: 30px;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  }
  .alert {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 180px;
    right: 10px;
    height: 100px;
    width: 70%;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.8); /* 그림자 효과 */
    display: none;
    padding: 0 40px;
  }
  #input_me,#input_you,#input_code,#input_place {
    border: none;
    padding: 5px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    color:rgba(0, 0, 0, 0.3);
    margin: 5px 0;
    font-size: 15px;
    width: 100%;
    margin-top: 15px;
  }
  .inf_submit_btn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inf_submit_btn > input {
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    border: white;
    border-radius: 10px;
    padding: 7px 30px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);;
  }
  .input_div {
    margin-bottom: 25px;
  }
  